.user-button {
    background-color:none;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .menu-content {
    position: relative;
    display: inline-block;
  }
  .user-link{
    display: flex;
    align-items: center;
    min-height: 70px;
  }

  .user-link .you-image-container{
    height: 50px;
    width:50px;
    margin-right: 10px;
    padding:0;
  }
  .menu-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 250px;
    padding: 10px 0;
    z-index: 3;
    right:20px;
    top: 80px;
    border: 1px solid lightgray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 140px;
    color: black;
    overflow: hidden;
  }

  .user-link {
    padding: 0 16px 10px 16px;
    width:100%;
    margin: 5px 0;
    border-bottom: 1px solid lightgray;
  }

  .profile-name{
    margin-bottom: 10px;
    font-family: 'Noto Serif SC', serif;
    font-size: 15px;
    text-decoration: black underline;
    font-weight: 500;
    width: 70px;
  }

  .profile-label{
    display: flex;
    align-items: center;
    padding: 3px;
    border: 1px solid lightgray;
    -webkit-text-stroke: .1px white;
  }

  .profile-label i {
    color: lightgray;
    font-size: 20px;
    -webkit-text-stroke: 2.0px white;
    margin-left: 5px;
  }

  #logout{
    font-size:15px;
    padding: 6px 16px;
    margin: 10px 0;
  }

  #logout:hover{
    background: lightgray;
  }
  
  .menu-content 
  .user-menu a:hover {background-color: #ddd}
  
  .show {
    display:flex;
    flex-direction: column;
  }