.user-button {
    background-color:none;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .user-menu {
    position: relative;
    display: inline-block;
  }
  
  .user-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    padding: 10px 16px;
    z-index: 1;
    right: -50px;
    top: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .user-menu a:hover {background-color: #ddd}
  
  .show {display:block;}