
.product-show{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.product-photo {
    max-width: 535px;
    max-height: 535px;
    width: auto;
    height: auto;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(227,225,223);

}
.product-description {
    padding-top: 15px;
}

.product-description h2 {
    font-weight: 500;
}
.product-left{
    margin: 0 10px 20px 0;
    width: 40%;
}

.product-right {
    width: 30%;
    margin-bottom: 20px;
}
.product-right h2 {
    padding-top: 15px;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Noto Serif SC', serif;
}
.product-right h3 {
    -webkit-text-stroke: .05px white;
}

.new-cart-item input[type='submit'] { 
    width: 300px;
    margin: 20px 0;
    background: black;
    color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px;
    transition: 1s ease;

}
.new-cart-item input[type='submit']:hover {
    background: rgb(85, 84, 84);
    border: 1px solid rgb(85, 84, 84);
    transition: .2s ease;
}

.item-container-right #quantity {
    border: 1px solid lightgray;
    border-radius: 3px;
    text-align: left;
    padding: 10px 10px;
    width: 45px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
  }