
.product-show{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.product-photo {
    max-width: 435px;
    max-height: 435px;
    width: auto;
    height: auto;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(227,225,223);

}
.product-description {
    padding-top: 15px;
    border-bottom: 1px solid rgb(227,225,223);
}

.product-description h2 {
    font-weight: 500;
    padding-bottom: 15px;

}

.product-description p {
    font-size: 14px;
    font-weight: 400;
    line-height: 2em;
    padding-bottom: 10px;
}
.product-left{
    margin: 0 10px 20px 0;
    width: 40%;
}

.product-right {
    margin-top: 90px;
    width: 30%;
    margin-bottom: 20px;
}
.product-right h2 {
    padding: 15px 0;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Noto Serif SC', serif;
}
.product-right h3 {
    -webkit-text-stroke: .05px white;
}

.new-cart-item input[type='submit'] { 
    width: 300px;
    margin: 20px 0;
    background: black;
    color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px;
    transition: 1s ease;

}
.new-cart-item input[type='submit']:hover {
    background: rgb(85, 84, 84);
    border: 1px solid rgb(85, 84, 84);
    transition: .2s ease;
}

.new-cart-item-form{
    display: flex;
    flex-direction: column;
}
.new-cart-item-form label p {
    padding-bottom:5px;
}

.new-cart-item-form p{
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 15px;
    -webkit-text-stroke: .05px white;
    color:  rgb(85, 84, 84);
}


.item-container-right #quantity {
    border: 1px solid lightgray;
    border-radius: 3px;
    text-align: left;
    padding: 10px 10px;
    width: 45px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
  }

.product-seller-container{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.product-seller-container h2{
    font-size: 20px;
    font-weight: 600;
    -webkit-text-stroke: .1px white;
    margin-left: 20px;
    margin-top: 15px;
}
.seller-photo-container {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    margin: 0;
    margin-bottom: 40px;
}

.seller-photo-container img{
    margin: 0;
    border-radius: 50%;
}

.edit{
    color: rgb(26, 155, 9);
    text-decoration: underline;
}
