
.product-show{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.product-photo {
    max-width: 570px;
    max-height: 570px;
    width: auto;
    height: auto;
    padding-bottom: 15px;
    position: relative;
}

.edit-product {
    position: absolute;
    top:0;
    padding:10px;
    color:white;
    font-weight: 600;
    background: rgb(26, 155, 9);
    display: flex;
}
.edit-product i {
    margin-left: 7px;
}

.product-description {
    padding-top: 15px;
    border-top: 1px solid rgb(227,225,223);
    border-bottom: 1px solid rgb(227,225,223);
}

.product-description h2 {
    font-weight: 500;
    padding-bottom: 15px;

}

.product-description p {
    max-width: 570px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2em;
    padding-bottom: 10px;
}
.product-left{
    margin: 0 10px 20px 0;
    width: 40%;
}

.product-right {
    max-width: 570px;
    margin: 5px 0 20px 15px;
    width: 28%;
}
.product-right h2 {
    padding: 15px 0;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Noto Serif SC', serif;
}
.product-right h3 {
    -webkit-text-stroke: .05px white;
}

.new-cart-item input[type='submit'] { 
    margin: 20px 0;
    background: black;
    color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px;
    transition: 1s ease;

}
.new-cart-item input[type='submit']:hover {
    background: rgb(85, 84, 84);
    border: 1px solid rgb(85, 84, 84);
    transition: .2s ease;
}

.new-cart-item-form{
    display: flex;
    flex-direction: column;
}
.new-cart-item-form label p {
    padding-bottom:5px;
}

.new-cart-item-form p{
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 15px;
    -webkit-text-stroke: .05px white;
    color:  rgb(85, 84, 84);
}


.item-container-right #quantity {
    border: 1px solid lightgray;
    border-radius: 3px;
    text-align: left;
    padding: 10px 10px;
    width: 45px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
  }

.edit{
    color: rgb(26, 155, 9);
    text-decoration: underline;
}

.seller-info{
    display: flex;
    align-items: center;
}
.seller-info h3{
    font-size: 15px;
    font-weight: 400;
    color: rgb(88, 86, 86);
}
.seller-info h3:hover{
    text-decoration: underline;
    text-decoration-color: rgb(88, 86, 86);
}
.product-seller-container{
    display:flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.product-seller-container h3{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}
.seller-photo-container {

    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: 40px 0 10px 0;
   
}

.seller-photo-container img{
    margin: 0;
    border-radius: 50%;
}

.seller-products .product-index-item h2{
    display: none;
}

 .seller-products .product-index-item .product-title{
    height: 1.2em;
    line-height: 1.2em;
    width: 150px;
    overflow: hidden;

}
.seller-products .product-index-item h3{
    font-size: 16px;
    font-weight: 550;
    margin: 4px 0;
}
.seller-products .product-index-item .image-container{
    height: 120px;
    width: 150px;
}

 .seller-products .product-index-item img{
    max-height: 120px;
    max-width: 150px;      
}

.seller-products .product-index-list {
    padding: 0 ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 4px;
}

.seller-products .product-index-item{
    margin:auto;
    grid-auto-rows: minmax(100px, auto);
    max-height: 178px;
}