
.splash{
    margin: 35px
}

.splash h2 {
    font-family: 'Noto Serif SC', serif;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.splash-list{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.splash-list li {

    text-align: center;
    width: 350px;
    font-weight: 300;
    font-size: 14px;
}

.splash-list li h3{
    text-align: center;
    width: 100%;
    font-weight: 300;
    font-size: 18px;
}

.fa-check{
    color: rgb(26, 155, 9);
    transform: scale(1, 1.5);
    margin-right: 5px;
    -webkit-text-stroke: 2px white;

}


.blog-container h1{
    font-size: 28px;
    font-weight: 500;
    margin: 35px auto;
}
.blog-posts{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-column-gap: 20px;
}

.blog-posts a{
    grid-auto-rows: minmax(450px, auto);
    max-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-posts a h2{
    width: 430px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif; 
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 13px;
    text-align: left;
}

.blog-posts a h3{
    width: 430px;
    font-weight:400;
    font-size: 13px;
    text-transform: uppercase;
}

.blog-posts a p{
    width: 430px;
    font-size: 12px;
    line-height: 1.7em;
    -webkit-text-stroke: .1px white;

}

.blog-posts a #thumbnail {
    height: 330px;
    width: 430px;  
}

#blog1 #thumbnail{
    background-image: url("https://s3.amazonaws.com/earthy-dev/blog2.jpg");
    background-size: cover;
}

#blog2 #thumbnail{
    background-image: url("https://s3.amazonaws.com/earthy-dev/blog1.jpg");
    background-size: cover;
}

#blog3 #thumbnail{
    background-image: url("https://s3.amazonaws.com/earthy-dev/blog3.jpg");
    background-size: cover;
}
