
.categories{
    border-bottom: 1px solid lightgray;
    height: 30px;
    line-height: 30px;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    font-weight: 400;
}
.categories a:hover{
    text-decoration: underline;
}
